html, body {
  padding-top: 10px;
  height: 100%;
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
}


.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;}

.two-columns {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 40px;}

.square {
  width: 1700px;
  height: 100px;
  background-color: magenta;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;}

.column {
  width: 400px;
  height: 100px;
  background-color: magenta;
  display:flex;

  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;}

.column {
  width: 400px;
  height: 100px;
  background-color: magenta;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;}

.column {
  width: 400px;
  height: 100px;
  background-color: magenta;
  display:flex;

  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;}

.column {
  width: 400px;
  height: 100px;
  background-color: magenta;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;}

.slegt {
  width: 800px;
  height: 100px;
  background-color: #72cffd;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #00529e;
  font-size: 40px;}